@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$font-size-10: 62.5%;
$font-fam-consolas: consolas;
$font-fam-spacemono: "Space Mono", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$white: hsl(0, 100%, 100%);
$black: hsla(0, 0%, 0%, 1);

$calculator-bg: hsla(0, 0%, 0%, 0.7);
$calculator-shadow: hsla(0, 0%, 0%, 0.5);
$btn-bg-secondary: hsl(0, 0%, 18%), hsl(0, 0%, 25%);
$btn-bg-primary: hsl(0, 0%, 18%), hsl(0, 0%, 30%);
$btn-border-primary: hsl(0, 0%, 0%, 0.2);
$screen: hsl(69, 24%, 59%);

html {
   font-size: $font-size-10;

   body {
      font-size: 1.6rem;
      font-family: $font-fam-consolas;
      font-weight: $font-weight-400;
   }
}

footer {
   font-size: 1.2rem;
   font-family: $font-fam-spacemono;
}
