@import "./global/variables";

@import "./global/mixins";

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   @include flexBox(column, center, center, 2rem);
   min-height: 100vh;
   min-width: 32rem;
   text-align: center;
}

.calculator {
   width: 36rem;
   padding: 3rem 2rem 2rem 2rem;
   border-radius: 1rem;
   border: 0.1rem solid $black;
   background: $calculator-bg;
   box-shadow: 0 0 0.5rem 0.1rem $calculator-shadow;

   .display_screen {
      @include flexBox(column, flex-end, center, 0);
      padding: 1rem 1.5rem 0.5rem 1.5rem;

      height: 7rem;
      width: 100%;
      border: none;
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
      outline: none;
      background: $screen;
      overflow: hidden;
      border: 0.1rem solid $black;
      box-shadow: inset 0 0 0.5rem 0.25rem $calculator-shadow;

      .display_value {
         font-size: 1.5rem;
         height: 3rem;
      }

      .display_result {
         font-size: 3rem;
         font-weight: $font-weight-500;
      }
   }

   .keypad {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .btn,
      .equal,
      .zero {
         border: 0.15rem solid $black;
         font-size: 1.6rem;
         color: $white;
         text-align: center;
         padding: 1rem;
         border-radius: 0.5rem;
         background: linear-gradient(180deg, $btn-bg-secondary);
         position: relative;
         z-index: 2;

         &:hover {
            cursor: pointer;
         }

         &:active {
            filter: brightness(1.5);
         }

         &::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            bottom: 0.5rem;
            left: 0.5rem;
            border-radius: 0.5rem;
            border-top: 0.15rem solid $btn-border-primary;
            border-bottom: 0.15rem solid $btn-border-primary;
            border-left: 0.15rem solid $btn-border-primary;
            background: linear-gradient(90deg, $btn-bg-primary);
            z-index: -1;
         }
      }

      .equal {
         @include flexBox(column, center, center, 0);
         grid-row: span 2;
      }

      .zero {
         grid-column: span 2;
      }
   }
}
